body {
    padding: 50px;
    font: 16px "proxima nova", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 26px;
}

a {
    color: #00B7FF;
}

#content {
    margin-bottom: 200px;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 40px;
}

ul {
    margin-top: 15px;
}

.btn-group {
    margin-top: 25px;
}